<!DOCTYPE html>
<html lang="ko">
<head id="layout-head">
    <meta charset="UTF-8">
    <title>공통 템플릿 구성</title>
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <header id="layout-header">헤더 삽입부</header>
        <aside id="layout-left-aside">좌측 사이드 바 삽입부</aside>

        <!-- Main Contents -->
        <main id="layout-main">메인 컨텐츠 삽입부</main>

        <aside id="layout-right-side">우측 사이드 바 삽입부</aside>
        <footer id="layout-footer">푸터 삽입부</footer>
    </div>

    <!-- SCRIPTS -->
    <script id="layout-scripts">/* 스크립트 삽입부 */</script>
</body>
</html>